#enable_html_escaping()
<html>
<head>
    <title>Internal error</title>
    <meta name="decorator" content="jira.admin" />
    <meta name="admin.active.section" content="admin_plugins_menu/octopus-jira-vcs-section"/>
    <meta name="admin.active.tab" content="octopus-jira-vcs-settings"/>
</head>
<body>
    <div>
        <h3>Internal error. Please, contact Jira Plugin Developers.</h3>
    </div>
</body>
</html>
