#macro(repository $repository)
<div class="repository-header">
    <div class="aui-group aui-group-split repository-header-group">
        <div class="aui-item project-space">
            <div class="project-avatar" title="$repository.name">
                <span class="aui-avatar aui-avatar-small aui-avatar-project fusion-avatar-project">
                    <span class="aui-avatar-inner">
                        <img src="$repository.avatar">
                    </span>
                </span>
            </div>
            <div class="project-info">
                <a class="repository-link" href="$repository.url">$repository.name</a>
            </div>
        </div>
    </div>
</div>
#end
