#macro(repository $repository)
<div class="repository-header">
    <div class="aui-group aui-group-split repository-header-group">
        <div class="aui-item project-space">
            <div class="project-avatar" title="$repository.name">
                <span class="aui-avatar aui-avatar-small aui-avatar-project fusion-avatar-project">
                    <span class="aui-avatar-inner">
                        #if ($repository.avatar)
                            <img src="$repository.avatar">
                        #else
                            <img src="$req.contextPath/download/resources/org.octopusden.octopus.jira.jira-vcs-plugin:octopus-jira-vcs.vcs-panel/img/default-project.svg">
                        #end
                    </span>
                </span>
            </div>
            <div class="project-info">
                <a class="repository-link" href="$repository.url">$repository.name</a>
            </div>
        </div>
        <div class="aui-item action-space">
            <div class="file-expand">
                <button class="aui-button aui-button-link octopus-vcs-show-repository-files" data-key="${repository.name}-files" id="${repository.name}-files">
                    Show files
                </button>
                <button class="aui-button aui-button-link octopus-vcs-hide-repository-files" data-key="${repository.name}-files" id="${repository.name}-files">
                    Hide files
                </button>
            </div>
        </div>
    </div>
</div>
#end
